body{
    background-color: rgba(255, 228, 196, 0.506);
}
.container{
    margin: auto;
    height: 200px;
    margin-top: 70px;
    border: 1px solid black;
    background-color: #f1f4f4;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: 430px;
}
.btnblock{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
h1{
    margin-top: 50px;
}
.btn{
    text-align: center;
    font-size: 15px;
    background-color:rgba(222, 184, 135, 0.639);
    height: 40px;
    width: 120px;
    border-radius: 15px;
}
h3,h1{
    text-align: center;
}
.answer{
    margin-top: 35px;
}