body {
    margin-top: 2%;
    margin-left: 25%;
    font-family: 'Segoe UI', sans-serif;
background: #EEAECA;
background: linear-gradient(227deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 0.42) 89%);    height: 100vh;
}
.gen{
    display: flex;
    gap: 15px;
   
}
.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: 800px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

form label {
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
    color: #555;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="password"],
form input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

hr{
    width: 60px;
    height: 4px;
    background-color: #EEAECA;
   border: none;
   border-radius: 10px;
   margin-top:5px ;
}



.btn {
    grid-column: span 2;
    text-align: center;
}

.btn button {
    background-color:#56bcbc ;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn button:hover {
    background-color: #74c4c0;
}